<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <!-- HEAD -->
    <th:block th:include="fragments/head :: cabecera"></th:block>

    <body>

        <div class="container">

            <div th:replace="fragments/header :: header">&nbsp;</div>

            <form action="#" th:action="@{/shopcart/begin.html}" method="post">
                <button type="submit">Empezar pedido</button>
            </form>
            
            VALOR SELECCIONADO: <span th:text="${page}"></span>

            <div th:replace="fragments/footer :: footer">&nbsp;</div>   

        </div>
    </body>
</html>