<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Poxmanía tu tienda online</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <link rel="stylesheet" type="text/css" media="all" href="../assets/css/bootstrap.css" th:href="@{/assets/css/bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" media="all" href="../assets/css/style.css" th:href="@{/assets/css/style.css}"/>
        <link rel="icon" href="../assets/img/icon.png" type="image/x-icon" th:href="@{/assets/img/icon.png}"/>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script type="text/javascript" th:src="@{/assets/js/html5shiv.js}"></script>
        <![endif]-->

        <script type="text/javascript" th:src="@{/assets/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/main.js}"></script>  
    </head>

    <body>

        <div class="container">

            <div th:replace="fragments/headerAdmin :: header">&nbsp;</div>

            <h2>Editar producto <span th:text="${productaux.name}"></span></h2>

            <form action="#" th:action="@{/admin/product/edit/} + ${productaux.idProd} + .html" th:object="${productaux}" method="post" role="form"><!-- enctype="multipart/form-data">-->
                <div class="form-group">
                    <input type="hidden" th:field="*{idProd}" />
                </div>
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" th:field="*{name}" class="form-control" />
                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</label>
                </div>
                <div class="form-group">
                    <label for="description">Descripción</label>
                    <input type="text" th:field="*{description}" class="form-control" />
                    <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</label>
                </div>
                <div class="form-group">
                    <label for="price">Precio</label>
                    <input type="text" th:field="*{price}" class="form-control" />
                    <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Name Error</label>
                </div>
                <div class="form-group">
                    <label for="stock">Stock</label>
                    <input type="text" th:field="*{stock}" class="form-control" />
                    <label th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}">Name Error</label>
                </div>

                <div class="form-group"> <!-- Esto debe ser un selector -->
                    <label for="idCat">Categoría</label>
                    <select class="form-control" th:field="*{idCat}">
                        <option th:each="cat : ${catgs}" 
                                th:value="${cat.idCat}" 
                                th:text="${cat.name}"></option>
                    </select>
                    <!--<input type="text" th:field="*{idCat}" class="form-control" />
                    <label th:if="${#fields.hasErrors('idCat')}" th:errors="*{idCat}">Name Error</label>-->
                </div>


                <!--File to upload 1: <input type="file" name="image"></input><br />
                File to upload 2: <input type="file" name="image"></input><br />
                -->

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br/>

            <div th:replace="fragments/footer :: footer">&nbsp;</div>   

        </div>
    </body>
</html>