<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <!-- HEAD -->
    <th:block th:include="fragments/head :: cabecera"></th:block>

    <body>

        <div class="container">
            <div th:replace="fragments/header :: header">&nbsp;</div>

            <h1>Categoría : <span th:text="${category}"></span></h1>

            <div th:if="${error}"><p class="alert alert-danger" th:text="$(error)"></p></div>
            <div th:if="${ok}"><p class="alert alert-success" th:text="${ok}"></p></div>

            <div th:if="${products == null or #lists.isEmpty(products)}">
                <p th:text="#{search.noproducts}">No hay productos D:</p>
            </div>

            <div th:if="${products != null and not #lists.isEmpty(products)}">
                <div class="panel panel-default">
                    <div class="panel-heading">Listado de productos</div>
                    <div class="table-responsive">

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="display: none">Nº Producto</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Precio</th>
                                    <th>Mirar</th>
                                    <th>Añadir a carrito</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="prod : ${products}">
                                    <td width="25%" th:text="${prod.name}"></td>
                                    <td width="25%" th:text="${prod.description}"></td>
                                    <td width="25%" th:text="${prod.price}"></td>
                                    <td width="6.5%"><a class="btn btn-info" th:href="@{/product/show/} + ${prod.idProd} + .html">Mirar</a></td>
                                    <td with="6.5%">
                                        <div th:if="${prod.stock > 0}">
                                            <form action="#" th:action="@{/shopcart/add_.html}" method="POST">
                                                <!--<input type="text" name=id" th:value="${prod.idProd}"></input>-->
                                                <input type="hidden" name="id" th:value="${prod.idProd}"></input>
                                                <input type="hidden" name="quantity" value="1"></input>
                                                <input type="hidden" name="search" th:value="${search}"></input>
                                                <button type="submit" class="btn btn-success">Añadir</button>
                                            </form>
                                        </div>
                                        <div th:if="${prod.stock == null}">
                                            No se ponerlo bien :S
                                            <button>Esto debe estar desactivado</button>
                                        </div>
                                    </td>
                                </tr>                    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div th:replace="fragments/footer :: footer">&nbsp;</div>   

        </div>
    </body>
</html>