<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <!-- HEAD -->
    <th:block th:include="fragments/head :: cabecera"></th:block>

    <body> 
        <div class="container">

            <div th:replace="fragments/header :: header">&nbsp;</div>
            <div class="row clearfix">
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">Producto</div>
                        <div class="table-responsive">

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <td th:text="${product.name}"></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Descripcion</th>
                                        <td th:text="${product.description}"></td>
                                    </tr>
                                    <tr>    
                                        <th>Precio</th>
                                        <td th:text="${product.price}"></td>
                                    </tr>   
                                    <tr>
                                        <th>Stock</th>
                                        <td>
                                            <div th:if="${product.stock} > 0">
                                                <span th:text="${product.stock}"></span>
                                            </div>
                                            <div th:if="1 > ${product.stock}">
                                                <span style="color: red">No hay stock</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Categoría</th>
                                        <td th:text="${product.idCat.name}"></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

                <div class="col-md-3">

                    <div th:if="${product.stock} > 0">
                        <form action="#" th:action="@{/shopcart/add.html}" th:object="${itemproduct}" method="POST">
                            <input type="hidden" th:field="*{id}" ></input>
                            <center>
                                <input type="number" th:field="*{quantity}" min="0" th:value="0"></input>
                                <br/><br/>
                                <button type="submit" class="btn btn-success">Añadir</button>
                            </center>
                        </form>
                    </div>

                    <div th:if="1 > ${product.stock}">
                        <blockquote>
                            <p>
                                Lo sentimos, no hay stock
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>

            <br/><br/>

            <div class="row clearfix">
                <h2>Imágenes</h2>
                <div th:each="image: ${product.imageCollection}">
                    <div class="col-md-3">
                        <img class="imagprod" src="" th:attr="src=@{/assets/img/} + ${image.image}" />
                    </div>
                </div>
            </div>

            <hr/><hr/>

            <div class="clear"></div>

            <div th:replace="fragments/footer :: footer">&nbsp;</div>   

        </div>

    </body>
</html>