<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <!-- HEAD -->
    <th:block th:include="fragments/head :: cabecera"></th:block>

    <body> 
        <div class="container">

            <div th:replace="fragments/headerAdmin :: header">&nbsp;</div>

            <div class="panel panel-default">
                <div class="panel-heading">Producto</div>
                <div class="table-responsive">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <td th:text="${product.name}"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Descripcion</th>
                                <td th:text="${product.description}"></td>
                            </tr>
                            <tr>    
                                <th>Precio</th>
                                <td th:text="${product.price}"></td>
                            </tr>   
                            <tr>
                                <th>Stock</th>
                                <td th:text="${product.stock}"></td>
                            </tr>
                            <tr>
                                <th>Categoría</th>
                                <td th:text="${product.idCat.name}"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <hr/><hr/>

            <h2>Subir imágenes</h2>
            <a class="btn btn-warning" th:href="@{../uploadImages/} + ${product.idProd} + .html">Subir imágenes</a>

            <hr/><hr/>

            <h2>Imágenes</h2>
            <div class="row clearfix">
                <div th:each="image: ${product.imageCollection}">
                    <div class="col-md-3">
                        <img class="imagprod" src="" th:attr="src=@{/assets/img/} + ${image.image}" />
                    </div>
                </div>
            </div>

            <hr/><hr/>

            <div class="clear"></div>

            <div th:replace="fragments/footer :: footer">&nbsp;</div>   

        </div>

    </body>
</html>