<table class="table table-hover">
    <thead>
        <tr>
            <td width="10%">USUARIO</td>
            <td width="10%">NOMBRE</td>
            <td width="10%">SURNAME</td>
            <td width="10%">DIRECTION</td>
            <td width="10%">TELEPHONE</td>
            <td width="10%">PRECIO</td>
            <td width="10%">ESTADO</td>
        </tr>                    
    </thead>
    <tbody>
        <tr th:each="ord : ${orders}">
            <td width="10%" th:text="${ord.idUsu.nickname}"></td>
            <td width="10%" th:text="${ord.nameRec}"></td>
            <td width="10%" th:text="${ord.surnameRec}"></td>
            <td width="10%" th:text="${ord.direction}"></td>
            <td width="10%" th:text="${ord.telephone}"></td>
            <td width="10%" th:text="${ord.price}"></td>
            <td width="10%" th:text="${ord.status}"></td>
            <td width="11.1%"><a th:href="@{/user/order/} + ${ord.idOrd} + .html">Mirar</a></td>
        </tr>                    
    </tbody>
    <tfoot>
        <tr>
            <td width="10%">USUARIO</td>
            <td width="10%">NOMBRE</td>
            <td width="10%">SURNAME</td>
            <td width="10%">DIRECTION</td>
            <td width="10%">TELEPHONE</td>
            <td width="10%">PRECIO</td>
            <td width="10%">ESTADO</td>
            <td colspan="3"></td>
        </tr>                      
    </tfoot>
</table>