<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Poxmanía tu tienda online</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <link rel="stylesheet" type="text/css" media="all" href="../assets/css/bootstrap.css" th:href="@{/assets/css/bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" media="all" href="../assets/css/style.css" th:href="@{/assets/css/style.css}"/>
        <link rel="icon" href="../assets/img/icon.png" type="image/x-icon" th:href="@{/assets/img/icon.png}"/>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script type="text/javascript" th:src="@{/assets/js/html5shiv.js}"></script>
        <![endif]-->

        <script type="text/javascript" th:src="@{/assets/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/main.js}"></script>  
    </head>

    <body>

        <div class="container">

            <div th:replace="fragments/header :: header">&nbsp;</div>

            <div id="about">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <h2>
                            ¿Quiénes somos?
                        </h2>
                        <div class="row clearfix">
                            <div class="col-md-8 column">
                                <h3 id="Cristian">
                                    Cristian Rodríguez Bernal
                                </h3>
                                <p>
                                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                                </p>
                                <p>
                                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                                </p>
                                <p>
                                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                                </p>
                            </div>
                            <div class="col-md-4 column" style="text-align: center">
                                <img alt="Cristian" src="https://scontent-a-ams.xx.fbcdn.net/hphotos-prn1/l/t1.0-9/1975222_10203758308537092_5834539116220282182_n.jpg" />
                            </div>
                        </div>
                        <hr/>
                        <hr/>
                        <div class="row clearfix">
                            <div class="col-md-8 column">
                                <h3 id="Daniel">
                                    Daniel Pérez Bernal
                                </h3>
                                <p>
                                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                                </p>
                                <p>
                                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                                </p>
                            </div>
                            <div class="col-md-4 column" style="text-align: center">
                                <img alt="Daniel" src="https://scontent-b-ams.xx.fbcdn.net/hphotos-frc3/t1.0-9/993020_423088994471509_1925369355_n.jpg" />
                            </div>
                        </div>
                        <hr/>
                        <hr/>
                        <div class="row clearfix">
                            <div class="col-md-8 column">
                                <h3 id="Daniel">
                                    Laura Fernández
                                </h3>
                                <p>
                                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                                </p>
                                <p>
                                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                                </p>
                            </div>
                            <div class="col-md-4 column" style="text-align: center">
                                <img alt="Laura" src="http://www.vectorizados.com/muestras/dibujo-chica-fashion.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>

            <div th:replace="fragments/footer :: footer">&nbsp;</div>   

        </div>
    </body>
</html>