<html>
<head>
<title>Upload Multiple File Request Page</title>
</head>
<body>
 
    <form method="POST" action="uploadMultipleFile.html" enctype="multipart/form-data">
        <div id="upds">
            File to upload 1: <input type="file" name="file"></input><br />
            Name 1: <input type="text" name="name"></input><br /> <br />
            File to upload 2: <input type="file" name="file"></input><br />
            Name 2: <input type="text" name="name"></input><br /> <br />
            File to upload 3: <input type="file" name="file"></input><br />
            Name 3: <input type="text" name="name"></input><br /> <br />
            File to upload 4: <input type="file" name="file"></input><br />
            Name 4: <input type="text" name="name"></input><br /> <br />
        </div>
        <input type="submit" value="Upload"> Press here to upload the file!</input>
    </form>
     
</body>
</html>