<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <!-- HEAD -->
    <th:block th:include="fragments/head :: cabecera"></th:block>

    <body>
        <div class="container">

            <div th:replace="fragments/headerAdmin :: header">&nbsp;</div>

            <!--Aquí te cuento que hace este html:
            -Si existe la variable "error", muestras el error y solo el href.
            -Si existe la variable "ok", me muestras el "js" y el a href-->

            <div th:if="${error}">
                <p th:text="${error}"></p>
            </div>

            <div th:if="${ok}">
                <p th:text="${ok}"></p>
            </div>
            <script type="text/javascript">
                    function redireccionar() {
                        window.location = "../index.html";
                    }
                    setTimeout("redireccionar()", 5000);
                </script>

                <!--Pulsa <a href="../" th:href="@{../category.html}">aquí</a> para volver a la lista de categorías-->
                <p><a href="../index.html" th:href="@{../index.html}"><button class="btn btn-primary">Pulsa el botón para volver a la lista de categorías</button></a> ó espere unos segundos y redigirá automáticamente</p>
            <br/>

            <div th:replace="fragments/footer :: footer">&nbsp;</div>   

        </div>
    </body>
</html>