<!DOCTYPE html>
<html>
    <body>
        <!--  Multiple fragments may be defined in one file 
        <div th:fragment="footer">
            &copy; 2013 Footer
        </div>
        <div th:fragment="footer-admin">
            &copy; 2013 Admin Footer
        </div>-->

        <footer>
            <!--
            <div class="row clearfix">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>¿QUIÉNES SOMOS?</h3>
                            <p><a href="#">Action</a></p>
                            <p><a href="#">Action</a></p>
                            <p><a href="#">Action</a></p>
                            <p><a href="#">Action</a></p>
                            <p><a href="#">Action</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>SERVICIOS</h3>
                            <p><a href="#">Action</a></p>
                            <p><a href="#">Action</a></p>
                            <p><a href="#">Action</a></p>
                            <p><a href="#">Action</a></p>
                            <p><a href="#">Action</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>AYUDA</h3>
                            <p><a href="#">Action</a></p>
                            <p><a href="#">Action</a></p>
                            <p><a href="#">Action</a></p>
                            <p><a href="#">Action</a></p>
                            <p><a href="#">Action</a></p>
                            <p><a href="#">Action</a></p>
                            <p><a href="#">Action</a></p>
                            <p><a href="#">Action</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>¡ÚNETE!</h3>
                            <p><a href="#">Action</a></p>
                            <p><a href="#">Action</a></p>
                            <p><a href="#">Action</a></p>
                            <p><a href="#">Action</a></p>
                            <p><a href="#">Action</a></p>
                        </div>
                    </div>
                </div>
            </div>
            -->
            <div class="row clearfix">
                <div class="col-md-12 column" id="copyright">
                    <p class="copyright"><a th:href="@{/aboutUs.html}">Copyright 2014. Web programada por L.F., C.R. y D.P.</a></p>
                </div>
            </div>
        </footer>
    </body>
</html>

