<!DOCTYPE html>
<html>
    <body>
        <header>
            <div class="row clearfix margin2">
                <center>
                    <div class="col-md-4 column">
                        <a href="index.html" th:href="@{/index}"><img src="../../assets/img/poxmania.png" th:attr="src=@{/assets/img/poxmania.png},title=#{logo},alt=#{logo}" id="logo" /></a>
                    </div>

                    <div class="col-md-4 column margin1">
                        <form role="form" method="POST" action="#" th:action="@{/search.html}" >
                            <div class="input-group">
                                <input type="text" name="search" class="form-control" />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-info" id="botonBuscar">Buscar</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4 column margin1">
                        <div th:if="not ${session.id_admin}">
                            <a href="user.html" th:href="@{/user.html}"><button type="button" class="btn btn-default">Mi cuenta</button></a>
                            <a href="shopcart/index.html" th:href="@{/shopcart/index.html}"><button type="button" class="btn btn-primary">Cesta</button></a>
                        </div>
                        <div th:if="${session.id_admin} or ${session.id_user}">
                            <form th:action="@{/login/logout.html}" method="post">
                                <button type="submit" class="btn btn-danger">Logout</button>
                            </form>
                        </div>
                    </div>
                </center>
            </div>

            <div class="row clearfix limpiarlados">
                <ul id="menuAdmin">
                    <li>
                        <a href="index.html" th:href="@{/index.html}">
                            <button class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Poxmania.com</button>
                        </a>
                    </li>

                    <li>
                        <a href="/admin/index.html" th:href="@{/admin/index.html}">
                            <button class="btn btn-info">Inicio</button>
                        </a>
                    </li>

                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><button class="btn btn-primary">Productos</button></a>
                        <ul class="dropdown-menu" id="desplegableMenu" data-caja="off">
                            <li>
                                <a href="/product/index.html" th:href="@{/product/index.html}">Listar productos</a>
                            </li>
                            <li>
                                <a href="/product/create.html" th:href="@{/product/create.html}">Crear producto</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/admin/order/" th:href="@{/admin/order/}">
                            <button class="btn btn-info">Pedidos</button>
                        </a>
                    </li>

                    <li>
                        <form th:action="@{/login/logout.html}" method="post">
                            <input class="btn btn-danger" type="submit" value="Logout" />
                        </form>
                    </li>
                </ul>
            </div>          
        </header>
    </body>
</html>