<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Poxmanía tu tienda online</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <link rel="stylesheet" type="text/css" media="all" href="../assets/css/bootstrap.css" th:href="@{/assets/css/bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" media="all" href="../assets/css/style.css" th:href="@{/assets/css/style.css}"/>
        <link rel="icon" href="../assets/img/icon.png" type="image/x-icon" th:href="@{/assets/img/icon.png}"/>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script type="text/javascript" th:src="@{/assets/js/html5shiv.js}"></script>
        <![endif]-->

        <script type="text/javascript" th:src="@{/assets/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/assets/js/main.js}"></script>  
    </head>

    <body>

        <div class="container">

        <div th:replace="fragments/headerAdmin :: header">&nbsp;</div>	

		<div class="panel panel-default">
                <div class="panel-heading">Usuario en el sistema</div>
                <div class="table-responsive">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="display: none">Nº Producto</th>
                                <th>Nickname</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Pedidos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="usu : ${users}">
                                <td width="25%" th:text="${usu.nickname}"></td>
                                <td width="25%" th:text="${usu.name}"></td>
                                <td width="25%" th:text="${usu.surname}"></td>
                                <td width="25%"><a th:href="@{/user/order/} + ${usu.idUsu} + .html">Ver pedidos</a></td> 
                            </tr>                    
                        </tbody>
                    </table>

                </div>
            </div>

			<a href="create.html" th:href="@{create.html}"><button class="btn btn-primary">Crear nueva categoría</button></a>
			<br/><br/>

            <div th:replace="fragments/footer :: footer">&nbsp;</div> 
        </div>
    </body>
</html>